.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('hotel.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -2;
}

.page-content {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 253, 248, 0.85); /* elegantna pozadina preko slike */
  min-height: 100vh;
  padding: 20px 20px;
}
